<mat-card>
  <p>
    <mat-toolbar>
      <span>Products List</span>
    </mat-toolbar>
  </p>
  <div *ngIf="products$ | async as products; else loading">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price $</th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <!-- CategoryName Column -->
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> CategoryName </th>
        <td mat-cell *matCellDef="let product"> {{product.categoryName}} </td>
      </ng-container>

          <!-- Available Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> Available </th>
        <td mat-cell *matCellDef="let product"> {{product.available}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column-header">
          <button (click)="onAdd()" mat-icon-button class="add-icon" aria-label="Add product">
            <mat-icon >add_circle</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let product" class="action-column">
          <button mat-icon-button color="blue" aria-label="Edit product"
          (click)="onEdit(product)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="primary" aria-label="Delete product"
          (click)="onDelete(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
